<h1>Products </h1>
<%= link_to "Add Product", new_product_url %>


<% @products.each do |product| %>
<ul>
  <li><%= product.name %></li>
  <li><%= product.description %></li>
  <li>&cent;<%= product.price_in_cents %></li>
</ul>
<% end %>
